body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  display: grid;
  grid-template-columns: 1fr 500px;
}
.todos {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 200px;
  grid-column-gap: 20px;
}

.todo {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 20px 100px 20px 30px;
  padding: 10px;
}

.todo__title {
  font-size: 20px;
  font-weight: bold;
}

.todo__finish-button {

}

.todo__deadline {
  font-size: 8px;
}
.todo-new {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 100px 30px;
    padding: 10px;
}

.todo-new__description {
margin-bottom: 10px;
  width: 100%;
}
.todo-new__title {
  margin-bottom: 10px;
  width: 100%;
}
